:root {
    --black: #000000;
    --white: #FFFFFF;
    --light-grey: #E0E0E0;
    --max-width: 150ch;
}

:root.free {
    --accent: #3498DB;
    --accent-dark: #1E84B1;
}

:root.premium {
    --accent: #CAA652;
    --accent-dark: #B79341;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

a {
    color: unset;
    text-decoration: none;
}

body {
    font-family: Arial, serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
}

h1, h2 {
    margin-block: .5em;
}

main ul, main ol {
    padding-left: 1.5em;
}

code {
    background: var(--light-grey);
    border-radius: .25em;
    padding: .1em .25em;
}

.button {
    padding: calc(.5em - 5px) calc(3em - 5px);
    margin-inline: 1ch;
    display: inline-block;
    margin: 1em;
    background: var(--background);
    color: var(--color);
    border: 5px solid var(--background);
}

.button:hover {
    background: var(--color);
    color: var(--background);
}

.button--light {
    --color: var(--accent);
    --background: var(--white);
}

.button--dark {
    --color: var(--white);
    --background: var(--accent);
}

.logo {
    border-radius: 15%;
}

.hero {
    height: calc(100vh - 10em);
    padding: 5em;
    background: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25%;
    color: var(--white);
    margin-bottom: 1em;
}

.hero img {
    width: 100%;
    max-width: 10em;
}

main {
    max-width: var(--max-width);
    margin-inline: auto;
    padding-inline: 1em;
}

.selling-points {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.selling-point {
    display: flex;
    align-items: center;
    width: 100%;
}

.selling-point:nth-child(2n) {
    flex-direction: row-reverse;
}

.selling-point__content {
    width: 100%;
    margin-inline: 1em;
}

.selling-point__media {
    width: 100%;
    margin-inline: 1em;
}

footer {
    background: var(--accent-dark);
    padding: 0 1em 1em 1em;
    color: var(--white);
    margin-top: 1em;
}

.stats, .buttons {
    max-width: var(--max-width);
    margin-inline: auto;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 1em;
}

.stat {
    flex: 1 1 0;
    font-size: 2em;
}

.stat__icon {
    margin-block: 1rem;
    font-size: 1.5em;
}

.stat hr {
    width: max(40%, 5ch);
    margin: 1rem auto;
    border: none;
    background: var(--white);
    height: 2px;
}

.stat__name {
    font-size: .5em;
}

.buttons {
    display: flex;
}

.buttons > .button {
    flex: 1 1 0;
    padding-inline: unset;
}

.legal {
    font-size: .75em;
}

.main-nav {
    background: var(--accent);
    height: 2em;
    color: var(--white);
    font-size: 1.25em;
}

.main-nav .logo {
    height: 1em;
    margin-left: .25em;
}

.main-nav ul {
    list-style: none;
}

.main-nav a:hover {
    color: var(--light-grey);
}

.main-nav, .main-nav ul {
    display: flex;
    align-items: center;
    gap: 1em;
}

.content {
    text-align: left;
    flex: 1;
}

.content a {
    text-decoration: underline;
    text-decoration-color: var(--accent);
}

.content a:visited {
    text-decoration-color: var(--accent-dark);
}

@media (max-width: 400px) {
    .hero, .stats, .buttons {
        flex-direction: column;
    }

    .selling-point:nth-child(n) {
        flex-direction: column-reverse;
    }

    .stat__icon {
        display: none;
    }

    .stat hr {
        margin-block: .5rem;
    }

    .buttons {
        margin-block: .5em;
    }

    .buttons > .button {
        margin-block: .5em;
    }
}
