<!DOCTYPE html>
<html lang="en" class="free">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="TTS Bot">
    <meta property="og:description" content="A bot that lets people without mics to talk in voice channels!">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/static/logo-free.png">
    <meta property="theme-color" content="#3498DB">
    <title>TTS Bot</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/logo-free.png">
</head>
<body>
<header class="hero">
    <img src="/static/logo-free.png" alt="TTS Bot logo">
    <div>
        <h1>TTS Bot</h1>
        <p>
            A bot that lets people without mics to talk in voice channels!
        </p>
        <a href="https://discord.com/oauth2/authorize?client_id=513423712582762502&permissions=36719617&scope=bot%20applications.commands" class="button button--light">Invite</a>
    </div>
</header>
<main>
    <p>
        Using the power of gTTS and serenity-rs you can empower your friends without microphones to talk to you while you are in voice!
    </p>
    <div class="selling-points">
        <div class="selling-point">
            <div class="selling-point__content">
                <h2>Easy to use</h2>
                <p>
                    TTS Bot reads all your messages from a specific channel without the need for a prefix or command for every message.
                </p>
            </div>
            <!-- TODO Add GIF or video   class: selling-point__media -->
        </div>
        <div class="selling-point">
            <!-- TODO Add GIF, video or image   class: selling-point__media -->
            <div class="selling-point__content">
                <h2>Easy to setup</h2>
                <p>
                    With only a single command TTS Bot can be setup and ready to use.
                </p>
            </div>
        </div>
        <div class="selling-point">
            <div class="selling-point__content">
                <h2>Fast</h2>
                <p>
                    TTS Bot is written in Rust and built for speed.
                </p>
            </div>
            <!-- TODO Add GIF, video or image   class: selling-point__media -->
        </div>
    </div>
    <a href="https://discord.com/oauth2/authorize?client_id=513423712582762502&permissions=36719617&scope=bot%20applications.commands" class="button button--dark">Invite</a>
</main>
<footer>
    <div class="stats">
        <div class="stat">
            <span class="stat__icon material-icons-round" aria-hidden="true">&#xe875;</span>
            <p>{{ guild_count }}</p>
            <hr>
            <p class="stat__name">Servers</p>
        </div>
        <div class="stat">
            <span class="stat__icon material-icons-round" aria-hidden="true">&#xf233;</span>
            <p>{{ user_count }}</p>
            <hr>
            <p class="stat__name">Users</p>
        </div>
        <div class="stat">
            <span class="stat__icon material-icons-round" aria-hidden="true">&#xec0b;</span>
            <p>{{ message_count }}</p>
            <hr>
            <p class="stat__name">Messages TTS'd yesterday</p>
        </div>
    </div>
    <div class="buttons">
        <a href="https://discord.com/oauth2/authorize?client_id=513423712582762502&permissions=36719617&scope=bot%20applications.commands" class="button button--light">Invite</a>
        <a href="/premium" class="button button--light">Premium</a>
        <a href="https://discord.gg/zWPWwQC" class="button button--light">Support</a>
        <a href="https://github.com/Discord-TTS/Bot" class="button button--light">GitHub</a>
    </div>
    <p class="legal">
        <a href="https://gist.github.com/GnomedDev/9b68d31abdd555064a8b5ee5a9568e50">Terms of Service</a>
        |
        <a href="https://gist.github.com/GnomedDev/a21892a9932db37c266d3ea23107ee8d">Privacy Policy</a>
    </p>
</footer>
</body>
</html>
